.container {
    background-color: #ECECEC;
}

.blogPostsIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555555;
    padding: 10rem;
}

.heading { 
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.description {
    width: 60%;
    font-size: 1.6rem;
    line-height: 2rem;
}

.postContainer {
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    place-items: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
}

