.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.innerContainer {
    width: 1200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.questions {
   font-size: 2em; 
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.question {
    color: #8f8e8e;
    margin-top: 30px;
}


.select button{
    border: 2px solid #8f8e8e;
    color: #8f8e8e;
    padding: 1em;
    width: 300px;
    height: 20px;
    border-radius: 4px;
    font-weight: 600;
    margin: 20px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .7s ease-in-out;
}


.select button:hover{
   background-color: #8f8e8e; 
   color: #fff;
}
@media screen and (max-width: 1160px){
 
}

@media screen and (max-width: 776px){
    .select {
        display: flex;
        flex-direction: column;
    }    
}

