.container {
    background-color:  #ECECEC;
    color: #fff;
}

.container:nth-child(odd) .boxHeading{
   text-align: right;
}

.container:nth-child(odd) .title{
   text-align: right;
}
.container:nth-child(odd) .description{
   text-align: right;
}

/* .container:nth-child(odd) .moreInfo {
    align-self: flex-end;
} */

.innerContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.boxHeading {
    text-align: left;
    font-size: 2.2rem;
    margin: 2rem;
    text-decoration: underline;
}

.title {
    font-size: 1.2rem;
    margin: 40px 20px;
    font-weight: 600;
}

.description {
    margin: 10px 0;
}

.description li{
    margin: .8rem;
    font-size: 1rem;
    line-height: 1.6rem;
}

.moreInfo {
    /* align-self: flex-start; */
    align-self: center;
    margin: 2rem;
}

.moreInfoButton {
    text-align: center;
    padding: 1rem 5rem;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

@media screen and (max-width: 1160px){
    .container {
        width: 500px;
    }
     
}
@media screen and (max-width: 776px){
    .container:nth-child(odd) .boxHeading{
    text-align: center;
    }

    .container:nth-child(odd) .title{
    text-align: left;
    }
    .container:nth-child(odd) .description{
    text-align: left;
    }

    .container:nth-child(odd) .moreInfo {
        align-self: center;
    }

    .container:nth-child(even) .moreInfo {
        align-self: center;
    }
}

