.container {
}

.skillSetHeading {
    text-align: center;
    background-color: #fff;
    padding-top: 6rem;
    padding-bottom: 7rem;
    opacity: 0;
}

.skillSetHeading p{
    display: inline;
    font-size: 2.3rem;
    margin-left: 25px;
}

.skillBoxContainer {
}


@media screen and (max-width: 1160px){
    .skillBoxes {
    }
}

@media screen and (max-width: 776px){
    .skillBoxes {
    }
}
