.container {
}

.skillSetHeading {
    text-align: center;
    background-color: #fff;
    padding-top: 6rem;
    padding-bottom: 7rem;
    opacity: 0;
}

.skillSetHeading p{
    display: inline;
    font-size: 2.3rem;
    margin-left: 25px;
}

.skillBoxContainer {
    width: 80%;
    margin: 0 auto;
}

.skillBoxes {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1160px){
    .skillBoxContainer {
        width: 90%;
    }

    .skillBoxes {
        justify-content: space-between;
    }
}

@media screen and (max-width: 776px){
    .skillBoxes {
        flex-direction: column;
        align-items: center;
    }
}
