.container {
    background-color: #EE9E26;
    height: 190px;
    display: grid;
    place-items: center;
}

.disclaimer {
    width: 60%;
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
}

.disclaimer span{
    color: #fffb00;
    font-size: 2rem;
}